<!DOCTYPE html>

<html ng-app="login">
  <head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="200556172120-5bd9laecrf87ctkdqvnge5jpbebslhc5.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div ng-controller="loginController as vm">
      <button ng-click="login()">face</button>
      <button ng-click="getData()">data</button>
      <button ng-click="loginGoogle()">google</button>
      <button ng-click="linkedIn()">linkedIn</button>
    </div>   
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="controllers/loginController.js"></script>    
  </body>
</html>
